<!DOCTYPE html>
<html>
    <head>
        <title>Testy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>

    <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <div class="container">
	    <div class="row">
	       <div class="col-sm-12">
		   <div class="col-sm-11">
			<h1 class="text-center">TESTY</h1>
		   </div>
		   <div class="col-sm-1">	
			{% if user.username %}
				<strong>{{ user.username }}</strong><br>
                                <a href="/accounts/logout/">wyloguj</a></span>
	       		{% endif %}
		   </div>
	       </div>
	      
	    </div>
	    <div class="row">
		<div class="col-sm-12">
			{% block content %}{% endblock %}
		</div>    
           </div>
    </div>
    </body>
</html> 
