{% extends "base.html" %}
{% load app_filters %}
{% block content %}

	<script type="text/javascript">
	  $(function() {
	      $('#submitTest').bind('click', function() {
		  if(!confirm('Na pewno chcesz zakończyć pisanie testu i przejść do jego sprawdzenia?') )
		      return false;
	      });
	  });
	</script>

	<div class="row">
	    <div class="col-sm-12">
		  <a href="/">&larr;Powrót do listy testów</a>
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-12">

		<h1>Test z: {{ test.name }}</h1><small>{{ test.description }}</small>
		<hr>
		<form class="form-horizontal" role="form" action="/test/{{ test.id }}/check" method="POST" >
		{% csrf_token %}
		  <ol>
		  {% for question in questions %}
		      <li class="marginBottom10px">
			  <h4>{{ question.question }}</h4>
			  <ul class="list-unstyled">
			  {% for answer in answers|dictkeyvalue:question.id %}
			      <li><input type="checkbox" value="{{ question.id }}|{{ answer.id }}" id="q[{{ question.id }}][{{ answer.id }}]" name="answers{{ question.id }}|{{ answer.id }}"><label class="fontWeightNormal marginLeft5px" for="q[{{ question.id }}][{{ answer.id }}]">{{ answer.answer }}</label></li>
			  {% endfor %}
			  </ul>
		      </li>
		  {% endfor %}
		</ol>
		<div class="form-group">
		    <div class="col-sm-7">
			<button type="submit" id="submitTest" class="btn btn-primary">Zakończ test i sprawdź swój wynik</button>    
		    </div>
		</div
		</form>
	    </div>
	</div>
{% endblock %}