
.marginBottom10px{
    margin-bottom: 10px;  
}

.fontWeightNormal{
    font-weight: 100%;
  
}

.marginLeft5px{
    margin-left: 5px;
  
}

.roundedDiv {
/*   padding: 35px; */
  background-color: #F7F7F7;
      border-color: #DDD;
      border-style: solid;
      -webkit-border-radius: 4px !important;
         -moz-border-radius: 4px !important;
              border-radius: 4px !important;
      -webkit-border-top: 4px !important;
         -moz-border-top: 4px !important;
              border-top: 4px !important;
      -webkit-border-bottom: 4px !important;
         -moz-border-bottom: 4px !important;
              border-bottom: 4px !important;
}
